Django==1.8
Fabric==1.10.1
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
Pillow==2.5.1
PyYAML==3.11
Werkzeug==0.9.6
Whoosh==2.7.0
argh==0.26.1
arrow==0.5.4
beautifulsoup4==4.3.2
chardet==2.3.0
cssselect==0.9.1
django-extensions==1.5.2
easy-thumbnails==2.0.1
ecdsa==0.13
gevent==1.0.1
greenlet==0.4.2
gunicorn==19.3.0
html2text==2014.7.3
itsdangerous==0.24
jieba==0.36.2
lxml==3.4.4
paramiko==1.15.2
pathtools==0.1.2
pycrypto==2.6.1
pyquery==1.2.8
python-dateutil==2.4.2
pytz==2014.4
readability-lxml==0.5
redis==2.10.1
requests==2.3.0
rq==0.4.6
rq-dashboard==0.3.4
simplejson==3.6.5
six==1.9.0
times==0.7
ujson==1.33
watchdog==0.8.3
wsgiref==0.1.2
