argh==0.26.1
chardet==2.3.0
cssselect==0.9.1
Django==1.8
django-extensions==1.5.2
easy-thumbnails==2.0.1
ecdsa==0.13
Fabric==1.10.1
gevent==1.0.1
greenlet==0.4.2
html2text==2014.7.3
lxml==3.4.4
MySQL-python==1.2.5
paramiko==1.15.2
pathtools==0.1.2
Pillow==2.5.1
pycrypto==2.6.1
pyquery==1.2.8
pytz==2014.4
PyYAML==3.11
readability-lxml==0.5
redis==2.10.1
requests==2.3.0
rq==0.4.6
six==1.9.0
ujson==1.33
watchdog==0.8.3
Werkzeug==0.9.6
