<script id="article-shower-template" type="text/underscore-template">
<div class="container-fluid">
    <div class="entry">
        <div class="article-title">
            <%= attributes.title %>
            <a class="original-link" href="<%= attributes.original_url %>">original link</a>
        </div>
        <hr />
        <div class="toolbar">
            <span class="btn-group btn-group-sm">
                <button type="button" title="archive" class="btn btn-default archive">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" title="star" class="btn btn-default <%= star_class() %>">
                    <span class="glyphicon glyphicon-star"></span>
                </button>
                <button type="button" title="archive" class="btn btn-default archive">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </div>
        <div><%= attributes.content %></div>
        <hr />
        <div class="toolbar">
            <span class="btn-group btn-group-sm">
                <button type="button" title="archive" class="btn btn-default archive">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" title="star" class="btn btn-default <%= star_class() %>">
                    <span class="glyphicon glyphicon-star"></span>
                </button>
                <button type="button" title="archive" class="btn btn-default archive">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </div>
    </div>
</div>
</script>