<div id="main-view" class="container-fluid">
    <div class="entry">
       <div class="creazy-man"></div>
       <h3 class="title">OhMyPocket !!!!!</h3>
       <p> A opensource port of <a href="htt[://getpocket.com">getpocket.com</a>...
            with more interesting features
       </p>
       <p> Hopefully, you can find <a href="http://en.wikipedia.org/wiki/Serendipity">Serendipity</a> here</p>
       <p> Try 'Random Walk' button on the sidebar</p>
       <p> I hope you enjoy this website as much as I enjoy coding it.. (copy from <a href="http://notepad-plus-plus.org/">nodepad++</a>)</p>
    </div>
</div>