<div id="main-view" class="container-fluid">
    <div class="entry">
       <div class="creazy-man"></div>
       <p><h3 class="title">OhMyPocket !!!!!</h3></p>
       <p> A opensource port of <a href="htt[://getpocket.com">getpocket.com</a>...
            with more interesting features
       </p>
       <p> Hopefully, you can find <a href="http://en.wikipedia.org/wiki/Serendipity">Serendipity</a> here</p>
       <p> Try 'Random Walk' button on the sidebar to start the exploration</p>
       <pre><a href="https://chrome.google.com/webstore/detail/ohmypocket/fohphbjhkhgnkcpbjfieodolhbllaeff">Install the chrome extension to start saving your bookmark  </a></pre>
       <p> I hope you enjoy this website as much as I enjoy coding it.. (copy from <a href="http://notepad-plus-plus.org/">nodepad++</a>)</p>
    </div>
</div>