<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OhMyPocket</title>

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}style.css"  rel="stylesheet" type="text/css">
    {%block extra_css%}

    {%endblock%}

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        {%include "web/sidebar.html"%}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="alert-bar"class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div id="alert-content"></div>
            </div>


            {%block content%}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            {%endblock%}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script data-main="static/main"  src="/static/libs/require.js"></script>


    {%block extra_stuff%}

    {%endblock%}

</body>

</html>
