{%extends "web/base.html"%}

{%block content%}
<div class="container-fluid"><div id="content" class="row">
{%include 'web/view/main.html'%}
{%include 'web/view/login.html'%}
{%include 'web/view/register.html'%}
{%include 'web/view/article.html'%}
{%include 'web/view/inbox.html'%}
{%include 'web/view/star.html'%}
{%include 'web/view/archive.html'%}


</div></div>
{%endblock%}


{%block extra_stuff%}
<div class="view-container view-hide">

</div>

<div class="template-container view-hide">
{% include 'web/view-template/article-shower.html' %}
{% include 'web/view-template/article-list-item.html' %}
{% include 'web/view-template/alert-message.html' %}

</div>
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="{{ STATIC_URL }}entry.css" />
{%endblock%}