{%extends "web/base.html"%}
{%block content%}
<div class="container-fluid">
    <div class="entry">
        <h1>{{article.title|safe}}
            <a class="original-link" href="{{article.original_url}}">original link</a>
        </h1>
        <hr />
        {%include "article/toolbar.html"%}
        <div>{{article.content|safe}}</div>
        <hr />
        {%include "article/toolbar.html"%}
    </div>
</div>
{%endblock%}

{%block extra_css%}
<link rel="stylesheet" href="{{ STATIC_URL }}entry.css" />
{%endblock%}