<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Random Read
            </a>
        </li>
        <li>
        <input type="text" id="nav-search" class="form-control" placeholder="Search">
        </li>
        <li class="tab-item">
            <a href="/web/random-walk">Random Walk</a>
        </li>
        <li class="tab-item">
            <a href="#">Inbox</a>
        </li>
        <li class="tab-item">
            <a href="#">My Stars</a>
        </li>
        
        <li class="tab-item">
            <a href="#">Archieve</a>
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
    </ul>
<!-- 
    <ul id="about-shower" class="sidebar-nav">
        <li style="bottom:40px;">
            <a href="#">github</a>
        </li>
        <li>
            <a href="#">about</a>
        </li>
    </ul> -->
</div>