<div id="sidebar-wrapper">

    <ul class="sidebar-nav login-sidebar {% if not user.is_authenticated %}view-hide{% endif %}">
        <li class="sidebar-brand">
            <a href="#">
                Random Read
            </a>
        </li>
        <li>
        <input type="text" id="nav-search" class="form-control" placeholder="Search">
        </li>
        <li class="tab-item">
            <a href="#random-walk">Random Walk</a>
        </li>
        <li class="tab-item">
            <a href="#inbox">Inbox</a>
        </li>
        <li class="tab-item">
            <a href="#mystar">My Stars</a>
        </li>
        
        <li class="tab-item">
            <a href="#archieve">Archieve</a>
        </li>
        <li>
            <a href="#logout">Logout</a>
        </li>
    </ul>
    <ul class="sidebar-nav unlogin-sidebar {% if user.is_authenticated %}view-hide{% endif %}">
        <li class="sidebar-brand">
            <a href="#">
                Random Read
            </a>
        </li>
        <li>
        <input type="text" id="nav-search" class="form-control" placeholder="Search">
        </li>
        <li class="tab-item">
            <a href="#random-walk">Random Walk</a>
        </li>
        <li class="tab-item">
            <a href="#login">Login</a>
        </li>
        <li class="tab-item">
            <a href="#register">Register</a>
        </li>

    </ul>


    <div class="siderbar-footer">
        <h4 class="text-center">Made by <a href="https://github.com/zhy0216/random-read">Yang</a> with <i class="glyphicon glyphicon-heart"></i></h4>
    </div>

</div>